.wst--sidebar {
  position: fixed;
  overflow-y: scroll;
  top: 70px;

  height: 100%;
  width: 275px;

  background-color: var(--wst-lightgray);
}

.wst--sidebar-category {
  text-transform: capitalize;
  margin: 3.5rem 3rem;
}

.wst--sidebar-link {
  display: block;
  margin: 1.5rem 0;
  text-transform: capitalize;

  color: var(--wst-black);
  text-decoration: none;
}

.wst--sidebar-title {
  font-size: 1.05rem;
  font-weight: 600;
}

.wst--sidebar-link_active {
  color: var(--wst-darkred);
  font-weight: 600;
}
