.bf--sidebar {
  overflow-y: scroll;
  position: fixed;
  top: 90px;

  height: 100%;
  width: 275px;

  text-transform: capitalize;
  background-color: var(--bf-color-brand-primary);
  z-index: 1;
}

.bf--sidebar-category {
  margin: var(--bf-spacing-xxl) 0;
}

.bf--sidebar-link {
  display: block;
  text-decoration: none;
  padding: var(--bf-spacing-lg) 0;

  color: var(--bf-color-white);
  background-color: transparent;
  transition: background-color var(--bf-transition);
}

.bf--sidebar-title {
  font-weight: 600;
  color: var(--bf-color-white);
  margin-bottom: var(--bf-spacing-lg);
}

.bf--sidebar-title,
.bf--sidebar-link {
  padding-left: var(--bf-spacing-xxl);
}

.bf--sidebar-link_active {
  color: var(--bf-color-white);
  background-color: var(--bf-color-brand-primary-dark);
}
