.bf--header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  z-index: 1;
  width: 100%;
  height: 90px;
  position: fixed;

  background-color: var(--bf-color-white);
  border-bottom: 1px solid var(--bf-color-brand-primary);

  padding: 0 var(--bf-spacing-xxl);
}

.bf--logo {
  width: 80px;
}

.bf--img {
  width: 100%;
  height: auto;
}

.bf--header-meta {
  display: flex;
  align-items: center;
}

.bf--meta-version,
.bf--meta-description {
  padding: 0 var(--bf-spacing-xxl);
  color: var(--bf-color-darkgray);
}
