.bf--header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  z-index: 2;
  width: 100%;
  height: 90px;
  position: fixed;

  background-color: var(--vf-color-white);
  border-bottom: 3px solid var(--vf-color-brand-primary);

  padding: 0 var(--vf-spacing-xxl);
}

.bf--logo {
/*  width: 80px; */
}

.bf--logo > a {
  text-decoration: none;
}

.bf--img {
  width: 100%;
  height: auto;
}

.bf--header-meta {
  display: flex;
  align-items: center;
}

.bf--meta-version {
  padding: 0 var(--vf-spacing-xxl);
  color: var(--vf-color-darkgray);
}

.bf--meta-description {
  color: var(--vf-color-brand-primary);
  padding: 0 var(--vf-spacing-xxl);
  font-size: var(--vf-header-5);
}
