.bf--page {
  display: grid;
  padding: 0 var(--vf-spacing-xxl);
  grid-template-columns: 275px auto;
  opacity: 0;
}

.bf--page_loaded {
  opacity: 1;
  transition: opacity var(--vf-transition);
}

.bf--page-body {
  max-width: 1140px;
  grid-column-start: 2;
  width: calc(90vw - 275px);
  transform: translateY(90px);
  margin: var(--vf-spacing-xxl) auto;
}
