:root {
  /* Colors */
  --bf-color-white: #ffffff;
  --bf-color-black: #191919;

  --bf-color-darkgray: #343a40;
  --bf-color-lightgray: #e7ebef;
  --bf-color-gray: #c7cace;

  --bf-color-red: #c12d3b;
  --bf-color-green: #0b7724;
  --bf-color-yellow: #ffc107;

  --bf-color-brand-primary: #002da1;
  --bf-color-brand-primary-dark: #002280;

  /* Typography */
  --bf-font-size-base: 16px;
  --bf-font-size-small: 0.9rem;

  --bf-font-weight-thin: 300;
  --bf-font-weight-normal: 400;
  --bf-font-weight-bold: 700;

  --bf-font-family-brand: Finlandica;
  --bf-font-family-fallback: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  --bf-line-height-base: 1.6;
  --bf-line-height-header: 1.15;

  /* Transitions */
  --bf-transition: 0.35s cubic-bezier(0.25, 0.1, 0.25, 1);

  /* Border Radius */
  --bf-border-radius-bubble: 2rem;
  --bf-border-radius-input: 0.25rem;

  /* Spacing */
  --bf-spacing-xxs: 0.15rem;
  --bf-spacing-xs: 0.25rem;
  --bf-spacing-sm: 0.5rem;
  --bf-spacing-md: 0.75rem;
  --bf-spacing-lg: 1rem;
  --bf-spacing-xl: 2rem;
  --bf-spacing-xxl: 3rem;

  /* Headers */
  --bf-header-1: 5.653rem;
  --bf-header-2: 3.998rem;
  --bf-header-3: 2.827rem;
  --bf-header-4: 1.999rem;
  --bf-header-5: 1.414rem;

  /* Breakpoints */
  --bf-breakpoint-sm: 576px;
  --bf-breakpoint-md: 768px;
  --bf-breakpoint-lg: 992px;
  --bf-breakpoint-xl: 1200px;
}

/* 

BF styles 

*/

/* Buttons */
/* Regular Button */
.bf-btn,
.bf-btn-regular {
  border: 0;
  font-size: 100%;
  cursor: pointer;
  font-family: inherit;
  color: var(--bf-color-white);
  font-weight: var(--bf-font-weight-normal);
  background-color: var(--bf-color-brand-primary);
  padding: var(--bf-spacing-md) var(--bf-spacing-lg);
}

.bf-btn:hover,
.bf-btn-regular:hover {
  opacity: 0.9;
}

.bf-btn:active,
.bf-btn-regular:active {
  opacity: 1;
}

/* Bordered Button */
.bf-btn-bordered {
  background-color: transparent;
  color: var(--bf-color-brand-primary);
  border: 2px solid var(--bf-color-brand-primary);
}

.bf-btn-bordered:hover {
  opacity: 0.7;
}

.bf-btn-bordered:active {
  opacity: 1;
}

/* Buttons Modifiers */
.bf-btn_ghost {
  text-decoration: underline;
  background-color: transparent;
  color: var(--bf-color-brand-primary);
}

.bf-btn_ghost:hover {
  text-decoration: none;
}

.bf-btn_uppercase {
  text-transform: uppercase;
}

/* Logo */
/* Regular Logo */
.bf-logo {
  line-height: 1.1;
  display: inline-block;
  text-transform: uppercase;
  font-size: var(--bf-header-3);
  color: var(--bf-color-brand-primary);
}

.bf-logo-finland {
  font-weight: var(--bf-font-weight-bold);
}

/* Secondary Logo */
.bf-logo_secondary {
  color: var(--bf-color-white);
}

/* Medium Logo */
.bf-logo_md {
  font-size: var(--bf-header-4);
}

/* Small Logo */
.bf-logo_sm {
  font-size: var(--bf-header-5);
}

/* Tag */
.bf-tag {
  cursor: pointer;
  display: inline-block;
  text-transform: uppercase;
  font-size: var(--bf-font-size-small);
  color: var(--bf-color-brand-primary);
  border-radius: var(--bf-border-radius-bubble);
  border: 1px solid var(--bf-color-brand-primary);
  padding: var(--bf-spacing-sm) var(--bf-spacing-lg);
}

.bf-tag_active {
  color: var(--bf-color-white);
  background-color: var(--bf-color-brand-primary);
}

.bf-tag_simple {
  padding: 0;
  border: none;
  text-decoration: underline;
  font-size: var(--bf-font-size-small);
}

.bf-tag_simple:hover {
  text-decoration: none;
}

/* Link */
.bf-link {
  cursor: pointer;
  text-decoration: underline;
  color: var(--bf-color-brand-primary);
}

.bf-link:hover {
  text-decoration: none;
}

.bf-link_white {
  color: var(--bf-color-white);
}

/* Tab */
.bf-tab {
  cursor: pointer;
  display: inline-block;
  text-transform: uppercase;
  padding: var(--bf-spacing-sm) var(--bf-spacing-sm);
}

.bf-tab_active {
  box-shadow: var(--bf-color-brand-primary) 0px -4px inset;
}

/* Breadcrumbs */
.bf-breadcrumbs {
  display: flex;
  font-size: var(--bf-font-size-small);
}

.bf-breadcrumbs .bf-link:after {
  content: '»';
  text-decoration: none;
  display: inline-block;
  padding-left: var(--bf-spacing-xs);
  margin-right: var(--bf-spacing-xs);
}

/* Locale */
.bf-locale {
  cursor: pointer;
  display: inline-block;
  padding: var(--bf-spacing-xs);
}

.bf-locale_active {
  color: var(--bf-color-white);
  background-color: var(--bf-color-brand-primary);
}

/* Divider */
.bf-divider {
  height: 2px;
  border: none;
  background-color: var(--bf-color-lightgray);
}

/* Form Label */
.bf-label {
  display: block;
}

/* Form Textarea & Input */
.bf-textarea {
  resize: none;
  min-height: 100px;
}

.bf-textarea,
.bf-input {
  width: 100%;
  font-size: inherit;
  font-family: inherit;
  padding: var(--bf-spacing-sm);
  border: 1px solid var(--bf-color-gray);
  border-radius: var(--bf-border-radius-input);
}

.bf-input-icon {
  height: auto;
  cursor: pointer;
  width: 1.6rem;
  right: var(--bf-spacing-sm);

  top: 50%;
  position: absolute;
  transform: translateY(-50%);
}

.bf-input-container {
  position: relative;
}

.bf-input-container .bf-input {
  padding-right: var(--bf-spacing-xl);
}

.bf-textarea::placeholder,
.bf-input::placeholder {
  color: var(--bf-color-gray);
}

/* Border List */
.bf-border-list .bf-link {
  display: block;
  padding: var(--bf-spacing-lg) 0;

  text-decoration: none;
  text-transform: uppercase;
  border-top: 1px solid var(--bf-color-gray);
}

.bf-border-list .bf-link:hover {
  text-decoration: underline;
}

.bf-border-list .bf-link:last-child {
  padding-bottom: 0;
}

/* Unorder List & List Items */
.bf-ul,
.bf-li {
  margin: 0;
  padding: 0;
}

.bf-ul {
  margin: var(--bf-spacing-xl) 0 var(--bf-spacing-xl) 20px;
}

.bf-li {
  margin: var(--bf-spacing-md) 0;
}

/* CTA Box */
.bf-cta-box {
  padding: var(--bf-spacing-xl);
  font-size: var(--bf-font-size-small);
  background-color: var(--bf-color-lightgray);
}

.bf-cta-box-header {
  text-transform: uppercase;
  font-size: var(--bf-header-5);
  color: var(--bf-color-brand-primary);
  font-weight: var(--bf-font-weight-bold);
}

.bf-cta-box-list {
  margin: var(--bf-spacing-xl) 0;
}

.bf-cta-box-button {
  width: 100%;
}

/* Custom Fonts */
@font-face {
  font-family: 'Finlandica';
  src: url('../fonts/finlandica-bold.woff2') format('woff2'),
    url('../fonts/finlandica-bold.woff') format('woff');

  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Finlandica';
  src: url('../fonts/finlandica-bolditalic.woff2') format('woff2'),
    url('../fonts/finlandica-bolditalic.woff') format('woff');

  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Finlandica';
  src: url('../fonts/finlandica-italic.woff2') format('woff2'),
    url('../fonts/finlandica-italic.woff') format('woff');

  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Finlandica';
  src: url('../fonts/finlandica-regular.woff2') format('woff2'),
    url('../fonts/finlandica-regular.woff') format('woff');

  font-weight: 400;
  font-style: normal;
}
