*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

#root {
  height: auto;
  min-height: 100%;
}

body {
  height: 100%;
  min-height: 100%;

  overscroll-behavior-y: none;
}

pre {
  overflow: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: var(--vf-spacing-sm);
  background-color: var(--vf-color-lightgray);
}

pre code {
  padding: 0;
  color: var(--vf-color-black);
}

code {
  overflow: auto;
  font-size: var(--vf-font-size-small);
  color: var(--vf-color-brand-primary);
  background-color: var(--vf-color-lightgray);
  padding: var(--vf-spacing-xxs) var(--vf-spacing-xs);
}

/* Helpers */

.bf-example-block {
  display: inline-block;
  border: 1px solid var(--vf-color-lightgray);
  padding: var(--vf-spacing-lg) var(--vf-spacing-md);
}

.bf-example-block_blue {
  color: var(--vf-color-white);
  background-color: var(--vf-color-brand-primary);
  padding: var(--vf-spacing-lg) var(--vf-spacing-sm);
}

.bf-example-block_300 {
  width: 350px;
}

/* Media Queries */

@media only screen and (max-width: 992px) {
  html,
  body {
    font-size: var(--vf-font-size-small);
  }
}
