.bf--ay {
  font-family: monospace;
  padding: var(--bf-spacing-lg);
  font-size: var(--bf-font-size-small);
  border: 1px solid var(--bf-color-lightgray);
}

.bf--ay-title {
  display: flex;
  align-items: center;
}

.bf--ay-description {
  padding-top: var(--bf-spacing-lg);
  color: var(--bf-color-darkgray);
}

.bf--ay-tag {
  margin-right: var(--bf-spacing-lg);
  padding: var(--bf-spacing-xxs) var(--bf-spacing-xs);

  font-weight: 400;
  text-transform: uppercase;
  color: var(--bf-color-white);
  background-color: var(--bf-color-green);
}

.bf--ay-summary {
  padding-top: var(--bf-spacing-sm);
}

.bf--ay-code {
  display: inline-block;
  margin-top: var(--bf-spacing-xl);
}

.bf--ay-tag_loading {
  color: var(--bf-color-black);
  background-color: var(--bf-color-lightgray);
}

.bf--ay-tag_serious,
.bf--ay-tag_critical {
  background-color: var(--bf-color-red);
}

.bf--ay-tag_moderate {
  color: var(--bf-color-black);
  background-color: var(--bf-color-yellow);
}
